* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
.header-container{
    overflow: hidden;
    background-color: #e7020200;
    padding: 10px;
}
/*Logo*/
.header-left{
    float: left;
    margin-left: 20px;
}
/*Logo size*/
.header-left img{
    height: 100px;
    width: auto;
}
/*tabs to other pages*/
.header-right {
    float:right;
    margin-right: 10px;
}

.nav-links a{
    display: inline-block;
    color: #ededed;
    text-decoration: none;
    padding: 14px 18px;
    background-color:#e10000;
    border-radius: 20px;
    font-weight: bold;
}

.nav-links a:hover{
    background-color:#000000;
    text-decoration: underline;
}

.nav-links a:active{
    background-color: #ffd900;
}

.content-container{
    width: 100%;
    height: 100%;
    margin: 10px auto;
    padding: 100px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}